body {
    background-color: #4C5B30;
}

header {
    margin: 100px;
    border: 5px solid #434343;
    border-radius: 16px;
    display: flex;
}

.header-gif-container {
    display: flex;
    flex: 0 1 auto;
    border-radius: 10px;
    border-right: 5px solid #434343;

}

.header-gif {
    height: 100px;
    width: 100px;
    border-radius: 12px;
}