body {
    background-color: #4C5B30;
}

header {
  margin: 75px;
  height: 100px;
  text-align: center;
  display: flex;
 }

.header-gif-container {
    width: 600px; 
   
    
   }

.header-gif {
   height: 17.65%;
   border: 10px solid #434343;
   position: absolute;
   right: 74.5%;
   border-radius: 10px;
   box-shadow: -12px 0px 15px currentcolor;
    
}

div1 {
  font-family: impact;
  border: 10px solid #434343; 
  background-color: #376044;
  right: 15%;
  width: 2300px;
  height: 19px;
  padding: 63px 0;
  text-align: center;
  line-height: 0.4;
  border-radius: 10px;
  font-size: 80px;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 0px 15px currentcolor;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 14px;
  text-decoration: none;
  font-family: impact;
  font-size: 25px;
  
}

li a:hover {
  background-color: #434343;
}
 
.toguro-pic {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  margin-right: auto;
  border: 5px solid #434343;
  box-shadow: 0px 0px 15px currentcolor;
}

.broly-pic {
  height: 350px;
  width: 650px;
  border-radius: 10px;
  border: 5px solid #434343;
  box-shadow: 0px 0px 15px currentcolor;
  }

.zoro {
  height: 350px;
  width: 380px;
  border-radius: 10px;
  margin-right: auto;
  border: 5px solid #434343;
  box-shadow: 0px 0px 15px currentcolor;
  }

.table_1 {
  height: 70px;
  width: 1100px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  border: 5px solid #434343;
  background-color: #376044;
  box-shadow: 0px 0px 15px currentcolor;
}
input {
  border: 5px solid #434343;
  border-radius: 10px;
  margin: 22.5px auto;
  box-shadow: 0px 0px 15px currentcolor;
  
}


.boxed {
  height: 200px;
  width: 700px;
  font-size: 22px;
  vertical-align: middle;
  margin: 20px auto;
  text-align: center;
  line-height: 1;
  font-family: impact;
  color: black;
  opacity: 0.65;
  border-radius: 10px;
  border: 5px solid #434343;
  background-color: #376044;
  box-shadow: 0px 0px 15px currentcolor;
}

body {
    background-color: #4C5B30;
}

header {
  margin: 75px;
  height: 100px;
  text-align: center;
  display: flex;
  
      }

div1 {
  font-family: impact;
  border: 10px solid #434343;
  background-color: #376044;
  right: 15%;
  width: 2300px;
  height: 19px;
  padding: 63px 0;
  text-align: center;
  line-height: 0.4;
  border-radius: 10px;
  font-size: 80px;
  box-shadow: 0px 0px 15px currentcolor;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 0px 15px currentcolor;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 14px;
  text-decoration: none;
  font-family: impact;
  font-size: 25px;
}

li a:hover {
  background-color: #434343;
}
 
.vegeta-gif {
  border: 5px solid #434343;
  border-radius: 10px;
  margin: 20px;
  height: 400px;
  width: 500px;
  box-shadow: 0px 0px 15px currentcolor;
}

.about-me {
  height: 375px;
  width: 800px;
  border-radius: 10px;
  border: 5px solid #434343;
  background-color: #376044;
  text-align: center;
  line-height: 1;
  font-family: impact;
  opacity: 0.75;
  font-size: 26px;
  margin: 20px;
  float: right;
  padding-top: 27px;
  box-shadow: 0px 0px 15px currentcolor;
}

.contact {
  height: 200px;
  width: 500px;
  border-radius: 10px;
  border: 5px solid #434343;
  background-color: #376044;
  text-align: center;
  line-height: 1;
  font-family: impact;
  opacity: 0.75;
  font-size: 24px;
  padding-top: 27px;
  float: left;
  margin: 20px;
  box-shadow: 0px 0px 15px currentcolor;
}

.luffy {
  border: 5px solid #434343;
  border-radius: 10px;
  margin: 20px;
  height: 400px;
  width: 700px;
  float: right;
  margin-right: 4em;
  box-shadow: 0px 0px 15px currentcolor;
  }

ul2 {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  border: 5px solid #434343;
  background-color: #376044;
  text-align: center;
  line-height: 1;
  font-family: impact;
  opacity: 0.75;
  font-size: 24px;
  padding-top: 20px;
  float: left;
  margin: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px currentcolor;
  padding-bottom: 20px;
  margin-left: 20px;
}

  li1 {
    background-color: green;
    margin-left: px;
    line-height: 2;
    padding: 2px 9px;
    margin: 4px;
    background-color: lightyellow;
    border-radius: 10px;
    border: 5px solid #434343;
}

  .fa-facebook {
  background: #3B5998;
  color: white;
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 5px solid #434343;
  border-radius: 10px;
}

.fa-instagram {
  background: #125688;
  color: white;
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 5px solid #434343;
  border-radius: 10px;
}

.fa-reddit {
  background: #ff5700;
  color: white;
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 5px solid #434343;
  border-radius: 10px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 10px;
  border: 5px solid #434343;
  border-radius: 10px;
}

footer{
  float: right;
  font-size: 50px;
  width: 100px;
  margin: 20px;
  padding-top: 175px;
  display: flex;
  flex-direction: row;
  margin: 0 -550px;
  margin-right: 0.em;
  
  }